*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.top-0 {
  top: 0;
}
.z-50 {
  z-index: 50;
}
.m-auto {
  margin: auto;
}
.mb-4 {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.h-1\/5 {
  height: 20%;
}
.h-10 {
  height: 2.5rem;
}
.h-14 {
  height: 3.5rem;
}
.h-28 {
  height: 7rem;
}
.h-3\/5 {
  height: 60%;
}
.h-6 {
  height: 1.5rem;
}
.h-\[calc\(100vh-7rem\)\] {
  height: calc(100vh - 7rem);
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-1\/6 {
  width: 16.666667%;
}
.w-10 {
  width: 2.5rem;
}
.w-14 {
  width: 3.5rem;
}
.w-5\/6 {
  width: 83.333333%;
}
.w-8\/12 {
  width: 66.666667%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes closeHamburger {
  to {
    transform: scaleZ(1) scale(1);
    outline: none;
  }
}
.animate-\[closeHamburger_0\.4s_ease-in-out\] {
  animation: closeHamburger 0.4s ease-in-out;
}
@keyframes openHamburger {
  to {
    transform: matrix3d(
        3.894348,
        0.638783,
        0,
        0.002261,
        0,
        2.82,
        0,
        0,
        0,
        0,
        1,
        0,
        101,
        109,
        0,
        1
      )
      scaleY(0.2) scaleX(0.15);
    outline: 30px solid #0f33ff;
  }
}
.animate-\[openHamburger_0\.4s_ease-in-out\] {
  animation: openHamburger 0.4s ease-in-out;
}
@keyframes openMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-\[openMenu_0\.5s_ease-in-out\] {
  animation: openMenu 0.5s ease-in-out;
}
.animate-\[openPage_0\.5s_ease-in-out\] {
  animation: openPage 0.5s ease-in-out;
}
@keyframes openPage {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.animate-\[openPage_0\.8s_ease-in-out\] {
  animation: openPage 0.8s ease-in-out;
}
.cursor-pointer {
  cursor: pointer;
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-12 {
  gap: 3rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border-b {
  border-bottom-width: 1px;
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.bg-\[\#0c0c0c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 12 / var(--tw-bg-opacity));
}
.bg-\[\#0f33ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(15 51 255 / var(--tw-bg-opacity));
}
.bg-\[url\(\'\/mapsppt\.png\'\)\] {
  background-image: url("../img/mapsppt.png");
}
.bg-\[url\(\'\/welcome\.png\'\)\] {
  background-image: url("../img/welcome.png");
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-bottom {
  background-position: bottom;
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pr-44 {
  padding-right: 11rem;
}
.text-center {
  text-align: center;
}
.font-maintext {
  font-family: maintext, sans-serif;
}
.font-numbers {
  font-family: numbers, sans-serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.text-\[\#545454\] {
  --tw-text-opacity: 1;
  color: rgb(84 84 84 / var(--tw-text-opacity));
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.opacity-0 {
  opacity: 0;
}
.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.backdrop-blur-\[1\.5px\] {
  --tw-backdrop-blur: blur(1.5px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
@font-face {
  font-family: numbers;
  src: url("../fonts/Stengazeta-Regular_5.ttf");
}
@font-face {
  font-family: maintext;
  src: url("../fonts/PoiretOne-Regular.ttf");
}
.hover\:items-end:hover {
  align-items: flex-end;
}
@media not all and (min-width: 1536px) {
  .max-2xl\:hidden {
    display: none;
  }
}
@media not all and (min-width: 1280px) {
  .max-xl\:justify-center {
    justify-content: center;
  }
  .max-xl\:bg-\[\#0c0c0ccc\] {
    background-color: #0c0c0ccc;
  }
  .max-xl\:pr-0 {
    padding-right: 0;
  }
}
@media (max-width: 800px) {
  .max-\[800px\]\:w-10\/12 {
    width: 83.333333%;
  }
  .max-\[800px\]\:flex-col {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .max-\[600px\]\:hidden {
    display: none;
  }
  .max-\[600px\]\:w-full {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .max-\[550px\]\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .max-\[550px\]\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 450px) {
  .max-\[450px\]\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .max-\[450px\]\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1536px) {
  .\32xl\:hidden {
    display: none;
  }
  .\32xl\:justify-center {
    justify-content: center;
  }
}
.\[\&\>div\:nth-child\(even\)\>button\]\:z-10 > div:nth-child(2n) > button {
  z-index: 10;
}
.\[\&\>div\:nth-child\(even\)\>button\]\:h-2 > div:nth-child(2n) > button {
  height: 0.5rem;
}
.\[\&\>div\:nth-child\(even\)\>button\]\:w-2 > div:nth-child(2n) > button {
  width: 0.5rem;
}
.\[\&\>div\:nth-child\(even\)\>button\]\:w-\[100px\]
  > div:nth-child(2n)
  > button {
  width: 100px;
}
.\[\&\>div\:nth-child\(even\)\>button\]\:rounded-full
  > div:nth-child(2n)
  > button {
  border-radius: 9999px;
}
.\[\&\>div\:nth-child\(even\)\>button\]\:bg-\[\#252525\]
  > div:nth-child(2n)
  > button {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 37 / var(--tw-bg-opacity));
}
.\[\&\>div\:nth-child\(even\)\>button\]\:text-left
  > div:nth-child(2n)
  > button {
  text-align: left;
}
.\[\&\>div\:nth-child\(even\)\]\:-mt-2 > div:nth-child(2n) {
  margin-top: -0.5rem;
}
.\[\&\>div\:nth-child\(even\)\]\:h-2 > div:nth-child(2n) {
  height: 0.5rem;
}
.\[\&\>div\:nth-child\(odd\)\]\:h-\[80px\] > div:nth-child(odd) {
  height: 80px;
}
.\[\&\>div\:nth-child\(odd\)\]\:w-px > div:nth-child(odd) {
  width: 1px;
}
.\[\&\>div\:nth-child\(odd\)\]\:bg-\[\#252525\] > div:nth-child(odd) {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 37 / var(--tw-bg-opacity));
}
.\[\&\>div\]\:h-1\/6 > div {
  height: 16.666667%;
}
.\[\&\>div\]\:rounded-full > div {
  border-radius: 9999px;
}
.\[\&\>div\]\:bg-white > div {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.\[\&\>input\]\:h-10 > input {
  height: 2.5rem;
}
.\[\&\>input\]\:w-1\/2 > input {
  width: 50%;
}
.\[\&\>input\]\:border-b > input {
  border-bottom-width: 1px;
}
.\[\&\>input\]\:border-white > input {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.\[\&\>input\]\:bg-transparent > input {
  background-color: transparent;
}
.\[\&\>input\]\:text-white > input {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.\[\&\>input\]\:outline-none > input {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (max-width: 800px) {
  .max-\[800px\]\:\[\&\>input\]\:w-full > input {
    width: 100%;
  }
}
.\[\&\>span\>div\]\:absolute > span > div {
  position: absolute;
}
.\[\&\>span\>div\]\:z-10 > span > div {
  z-index: 10;
}
.\[\&\>span\>div\]\:h-3\.5 > span > div {
  height: 0.875rem;
}
.\[\&\>span\>div\]\:w-\[calc\(100\%\+4rem\)\] > span > div {
  width: calc(100% + 4rem);
}
.\[\&\>span\>div\]\:bg-\[\#0f33ff\] > span > div {
  --tw-bg-opacity: 1;
  background-color: rgb(15 51 255 / var(--tw-bg-opacity));
}
.\[\&\>span\]\:relative > span {
  position: relative;
}
.\[\&\>span\]\:flex > span {
  display: flex;
}
.\[\&\>span\]\:cursor-pointer > span {
  cursor: pointer;
}
.\[\&\>span\]\:flex-col > span {
  flex-direction: column;
}
.\[\&\>span\]\:items-center > span {
  align-items: center;
}
.\[\&\>span\]\:justify-center > span {
  justify-content: center;
}
.\[\&\>span\]\:gap-2 > span {
  gap: 0.5rem;
}
#mainWindow {
  transform-origin: -100px 25% 0px;
}
